main > * { margin: 100px 0; }

/* trusted */
.trusted {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.trusted__header {
    font-size: var(--text-font-size);
    font-weight: 400;
}

.trusted__companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    gap: 75px;
    align-items: center;
    list-style-type: none;
}
.trusted__companies > li {
    height: min-content;
}


/* Features */
.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.features > img {
    max-width: 100%;
}

.features__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 450px;
}
.features__content > * {
    margin: 0;
}

.features__content__articles {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.features__content-article {
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 400px;
}

.features__content-article__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Jackpots */
.jackpots {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.jackpots__header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 70px;
    align-items: center;
}

.jackpots__header__title {
    font-size: 40px;
}

.jackpots__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 100px;
}

.jackpots__content-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.jackpots__content-article > .feature-icon {
    margin-bottom: 20px;
}


/* Integration */
.integration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.integration__content {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    gap: 30px;
}


/* Why choose */
.whychoose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.whychoose__title {
    text-align: center;
    max-width: 500px;
}

.whychoose__desc {
    text-align: center;
    max-width: 600px;
}

.whychoose__content {
    margin-top: 50px;
    display: flex;
    gap: 135px;
    flex-wrap: wrap;
    justify-content: center;
}

.whychoose__content-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 300px;
}

.whychoose__content-article > .feature-icon {
    margin-bottom: 20px;
}


/* Subscription */
.subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.subscription__title {
    max-width: 600px;
    text-align: center;
}

.subscription__desc {
    max-width: 650px;
    text-align: center;
}

.subscription__chooser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--border-color);
    gap: 4px;
    padding: 2px;
    border-radius: 99px;
}

.subscription__chooser-button {
    padding: 15px 30px;
    border-radius: 99px;
    background-color: transparent;
    border: none;
    font-size: var(--text-font-size);
    font-weight: 600;
    color: var(--p-color);
}

.subscription__chooser-button.active {
    background-color: var(--primary-color);
    color: #fff;
}

.subscription__subscriptions {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.subscription__card {
    width: 300px;
    border-radius: 10px;
}

.subscription__card__header {
    background: linear-gradient(to bottom, transparent, rgba(var(--secondary-blue-rgb), .1));
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription__card__price {
    font-weight: 600;
    color: var(--h-color);
    font-size: var(--hero-font-size);
    letter-spacing: -2px;
}

.subscription__card__content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 30px;
    gap: 20px;
}

.subscription__card.active {
    border: 2px solid var(--border-color);
}


@media (max-width: 959px) {
    .features {
        grid-template-columns: 1fr;
    }

    .features__content {
        align-items: center;
    }
    .features__content > p {
        text-align: center;
    }

    .features > img {
        width: 60%;
    }

    .jackpots__header {
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
    }

    .jackpots__content-article {
        align-items: center;
    }

    .integration {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .integration > img {
        width: 60%;
    }

    .integration__content {
        align-items: center;
        text-align: center;
    }
}